/* Add this to your CSS file */
.modal-container::-webkit-scrollbar {
  width: 8px;
}

.modal-container::-webkit-scrollbar-thumb {
  background-color: #cbd5e0; /* Adjust color */
  border-radius: 4px;
}

.modal-container::-webkit-scrollbar-thumb:hover {
  background-color: #a0aec0; /* Adjust hover color */
}
